[submodule "msquic"]
	path = msquic
	url = https://github.com/microsoft/msquic
[submodule "nghttp3"]
	path = nghttp3
	url = https://github.com/WindowsNT/nghttp3
[submodule "lua"]
	path = lua
	url = https://github.com/lua/lua
